<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <array>
    <string>curve</string>
    <string>glyphs.curve</string>
  </array>
  <array>
    <string>curve.background</string>
    <string>glyphs.curve.background</string>
  </array>
  <array>
    <string>flat top</string>
    <string>glyphs.flat top</string>
  </array>
  <array>
    <string>flat top.background</string>
    <string>glyphs.flat top.background</string>
  </array>
  <array>
    <string>long</string>
    <string>glyphs.long</string>
  </array>
  <array>
    <string>public.background</string>
    <string>glyphs.public.background</string>
  </array>
  <array>
    <string>public.default</string>
    <string>glyphs</string>
  </array>
  <array>
    <string>tall</string>
    <string>glyphs.tall</string>
  </array>
  <array>
    <string>tall.background</string>
    <string>glyphs.tall.background</string>
  </array>
  <array>
    <string>width</string>
    <string>glyphs.width</string>
  </array>
  <array>
    <string>width.background</string>
    <string>glyphs.width.background</string>
  </array>
</array>
</plist>
