<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>GSOffsetHorizontal</key>
  <integer>13</integer>
  <key>GSOffsetMakeStroke</key>
  <integer>1</integer>
  <key>GSOffsetVertical</key>
  <integer>12</integer>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>GSDimensionPlugin.Dimensions</key>
    <dict>
      <key>639D56B4-59BE-4993-85FD-8F80ECD3B0F6</key>
      <dict>
        <key>HH</key>
        <string>140</string>
        <key>HV</key>
        <string>170</string>
        <key>OH</key>
        <string>160</string>
        <key>OV</key>
        <string>174</string>
        <key>nV</key>
        <string>122</string>
        <key>nd</key>
        <string>80</string>
        <key>oH</key>
        <string>100</string>
      </dict>
      <key>926CF2F4-31F1-4036-BA3C-0F7EE51EF36A</key>
      <dict>
        <key>HV</key>
        <string>26</string>
        <key>OH</key>
        <string>24</string>
        <key>OV</key>
        <string>26</string>
      </dict>
      <key>A6029D4D-1571-45DB-86AE-EDC9D2308E6F</key>
      <dict>
        <key>HH</key>
        <string>130</string>
        <key>HV</key>
        <string>147</string>
        <key>OH</key>
        <string>146</string>
        <key>OV</key>
        <string>152</string>
        <key>nV</key>
        <string>147</string>
        <key>nd</key>
        <string>130</string>
        <key>oH</key>
        <string>146</string>
        <key>oV</key>
        <string>152</string>
      </dict>
      <key>EAF3E1E9-0001-42EF-B2A4-765526B8C83B</key>
      <dict>
        <key>nV</key>
        <string>26</string>
        <key>nd</key>
        <string>25</string>
        <key>oH</key>
        <string>25</string>
        <key>oV</key>
        <string>26</string>
      </dict>
    </dict>
    <key>LWPluginVersion</key>
    <string>1366</string>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.Glyphs.glyphUserData.ba-oriya.below</key>
  <dict>
    <key>RMXScaler</key>
    <dict>
      <key>source</key>
      <string>ha-oriya</string>
    </dict>
  </dict>
  <key>com.schriftgestaltung.Glyphs.glyphUserData.ja-oriya.below</key>
  <dict>
    <key>RMXScaler</key>
    <dict>
      <key>source</key>
      <string>ja-oriya</string>
    </dict>
  </dict>
  <key>com.schriftgestaltung.Glyphs.glyphUserData.ka-oriya.below</key>
  <dict>
    <key>RMXScaler</key>
    <dict>
      <key>source</key>
      <string>ka-oriya</string>
    </dict>
  </dict>
  <key>com.schriftgestaltung.Glyphs.glyphUserData.la-oriya.below</key>
  <dict>
    <key>RMXScaler</key>
    <dict>
      <key>source</key>
      <string>la-oriya</string>
    </dict>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>1286</string>
  <key>com.schriftgestaltung.customName</key>
  <string>Extra Thin</string>
  <key>com.schriftgestaltung.customParameter.GSFont.Axis Mappings</key>
  <dict>
    <key>XXXX</key>
    <dict>
      <key>0</key>
      <integer>0</integer>
    </dict>
    <key>wdth</key>
    <dict>
      <key>100</key>
      <integer>100</integer>
    </dict>
    <key>wght</key>
    <dict>
      <key>140</key>
      <integer>140</integer>
    </dict>
  </dict>
  <key>com.schriftgestaltung.customParameter.GSFont.Keep UI-Font Bounding Box</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster._strikeoutPosition</key>
  <string>641</string>
  <key>com.schriftgestaltung.customParameter.GSFontMaster._strikeoutSize</key>
  <integer>102</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string>Light_Condensed</string>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.paramArea</key>
  <string>550</string>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.paramDepth</key>
  <string>14</string>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.paramOver</key>
  <string>1</string>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>26</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>68</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>2</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>26</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Condensed</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>68</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>nbspace</string>
    <string>candraBindu-oriya</string>
    <string>anusvara-oriya</string>
    <string>visarga-oriya</string>
    <string>a-oriya</string>
    <string>aa-oriya</string>
    <string>i-oriya</string>
    <string>ii-oriya</string>
    <string>u-oriya</string>
    <string>uu-oriya</string>
    <string>rVocalic-oriya</string>
    <string>lVocalic-oriya</string>
    <string>e-oriya</string>
    <string>ai-oriya</string>
    <string>o-oriya</string>
    <string>au-oriya</string>
    <string>ka-oriya</string>
    <string>kha-oriya</string>
    <string>ga-oriya</string>
    <string>gha-oriya</string>
    <string>nga-oriya</string>
    <string>ca-oriya</string>
    <string>cha-oriya</string>
    <string>ja-oriya</string>
    <string>jha-oriya</string>
    <string>nya-oriya</string>
    <string>tta-oriya</string>
    <string>ttha-oriya</string>
    <string>dda-oriya</string>
    <string>ddha-oriya</string>
    <string>nna-oriya</string>
    <string>ta-oriya</string>
    <string>tha-oriya</string>
    <string>da-oriya</string>
    <string>dha-oriya</string>
    <string>na-oriya</string>
    <string>pa-oriya</string>
    <string>pha-oriya</string>
    <string>ba-oriya</string>
    <string>bha-oriya</string>
    <string>ma-oriya</string>
    <string>ya-oriya</string>
    <string>ra-oriya</string>
    <string>la-oriya</string>
    <string>lla-oriya</string>
    <string>va-oriya</string>
    <string>sha-oriya</string>
    <string>ssa-oriya</string>
    <string>sa-oriya</string>
    <string>ha-oriya</string>
    <string>wa-oriya</string>
    <string>rrVocalic-oriya</string>
    <string>llVocalic-oriya</string>
    <string>nukta-oriya</string>
    <string>avagraha-oriya</string>
    <string>aaMatra-oriya</string>
    <string>iMatra-oriya</string>
    <string>iMatra-oriya.wide</string>
    <string>iiMatra-oriya</string>
    <string>uMatra-oriya</string>
    <string>uuMatra-oriya</string>
    <string>rVocalicMatra-oriya</string>
    <string>rrVocalicMatra-oriya</string>
    <string>lVocalicMatra-oriya</string>
    <string>llVocalicMatra-oriya</string>
    <string>eMatra-oriya</string>
    <string>aiMatra-oriya</string>
    <string>oMatra-oriya</string>
    <string>auMatra-oriya</string>
    <string>aiLength-oriya</string>
    <string>aiLength-oriya.stem</string>
    <string>aiLength-oriya.umbrella</string>
    <string>auLength-oriya</string>
    <string>halant-oriya</string>
    <string>yya-oriya</string>
    <string>om-oriya</string>
    <string>rra-oriya</string>
    <string>rha-oriya</string>
    <string>reph-oriya</string>
    <string>isshar-oriya</string>
    <string>danda</string>
    <string>dbldanda</string>
    <string>zero-oriya</string>
    <string>one-oriya</string>
    <string>two-oriya</string>
    <string>three-oriya</string>
    <string>four-oriya</string>
    <string>five-oriya</string>
    <string>six-oriya</string>
    <string>seven-oriya</string>
    <string>eight-oriya</string>
    <string>nine-oriya</string>
    <string>onequarter-oriya</string>
    <string>onehalf-oriya</string>
    <string>threequarters-oriya</string>
    <string>onesixteenth-oriya</string>
    <string>oneeighth-oriya</string>
    <string>threesixteenths-oriya</string>
    <string>zerowidthspace</string>
    <string>zerowidthnonjoiner</string>
    <string>zerowidthjoiner</string>
    <string>dottedCircle</string>
    <string>kara-oriya</string>
    <string>khara-oriya</string>
    <string>gara-oriya</string>
    <string>ghara-oriya</string>
    <string>ngara-oriya</string>
    <string>cara-oriya</string>
    <string>chara-oriya</string>
    <string>jara-oriya</string>
    <string>jhara-oriya</string>
    <string>nyara-oriya</string>
    <string>ttara-oriya</string>
    <string>tthara-oriya</string>
    <string>ddara-oriya</string>
    <string>ddhara-oriya</string>
    <string>nnara-oriya</string>
    <string>tara-oriya</string>
    <string>thara-oriya</string>
    <string>dara-oriya</string>
    <string>dhara-oriya</string>
    <string>nara-oriya</string>
    <string>para-oriya</string>
    <string>phara-oriya</string>
    <string>bara-oriya</string>
    <string>bhara-oriya</string>
    <string>mara-oriya</string>
    <string>yara-oriya</string>
    <string>lara-oriya</string>
    <string>llara-oriya</string>
    <string>vara-oriya</string>
    <string>shara-oriya</string>
    <string>ssara-oriya</string>
    <string>sara-oriya</string>
    <string>hara-oriya</string>
    <string>wara-oriya</string>
    <string>rrara-oriya</string>
    <string>rhara-oriya</string>
    <string>yyara-oriya</string>
    <string>ka-oriya.base</string>
    <string>kha-oriya.base</string>
    <string>ga-oriya.base</string>
    <string>gha-oriya.base</string>
    <string>nga-oriya.base</string>
    <string>ca-oriya.base</string>
    <string>cha-oriya.base</string>
    <string>ja-oriya.base</string>
    <string>jha-oriya.base</string>
    <string>nya-oriya.base</string>
    <string>tta-oriya.base</string>
    <string>ttha-oriya.base</string>
    <string>dda-oriya.base</string>
    <string>ddha-oriya.base</string>
    <string>nna-oriya.base</string>
    <string>ta-oriya.base</string>
    <string>tha-oriya.base</string>
    <string>da-oriya.base</string>
    <string>dha-oriya.base</string>
    <string>na-oriya.base</string>
    <string>pa-oriya.base</string>
    <string>pha-oriya.base</string>
    <string>ba-oriya.base</string>
    <string>bha-oriya.base</string>
    <string>ma-oriya.base</string>
    <string>ya-oriya.base</string>
    <string>ra-oriya.base</string>
    <string>la-oriya.base</string>
    <string>lla-oriya.base</string>
    <string>va-oriya.base</string>
    <string>sha-oriya.base</string>
    <string>ssa-oriya.base</string>
    <string>sa-oriya.base</string>
    <string>ha-oriya.base</string>
    <string>rra-oriya.base</string>
    <string>rha-oriya.base</string>
    <string>wa-oriya.base</string>
    <string>kassa-oriya.base</string>
    <string>ka-oriya.below</string>
    <string>kha-oriya.below</string>
    <string>ga-oriya.below</string>
    <string>gha-oriya.below</string>
    <string>nga-oriya.below</string>
    <string>ca-oriya.below</string>
    <string>cha-oriya.below</string>
    <string>ja-oriya.below</string>
    <string>jha-oriya.below</string>
    <string>tta-oriya.below</string>
    <string>ttha-oriya.below</string>
    <string>dda-oriya.below</string>
    <string>ddha-oriya.below</string>
    <string>nna-oriya.below</string>
    <string>ta-oriya.below</string>
    <string>tha-oriya.below</string>
    <string>da-oriya.below</string>
    <string>dha-oriya.below</string>
    <string>na-oriya.below</string>
    <string>pa-oriya.below</string>
    <string>pha-oriya.below</string>
    <string>ba-oriya.below</string>
    <string>bha-oriya.below</string>
    <string>ma-oriya.below</string>
    <string>ya-oriya.below</string>
    <string>ra-oriya.below</string>
    <string>la-oriya.below</string>
    <string>lla-oriya.below</string>
    <string>va-oriya.below</string>
    <string>sha-oriya.below</string>
    <string>ssa-oriya.below</string>
    <string>sa-oriya.below</string>
    <string>ha-oriya.below</string>
    <string>yya-oriya.post</string>
    <string>kassa-oriya.below</string>
    <string>taalt-oriya.below</string>
    <string>iMatra-oriya.below</string>
    <string>ka-oriya.single</string>
    <string>kha-oriya.single</string>
    <string>ga-oriya.single</string>
    <string>gha-oriya.single</string>
    <string>nga-oriya.single</string>
    <string>ca-oriya.single</string>
    <string>cha-oriya.single</string>
    <string>ja-oriya.single</string>
    <string>jha-oriya.single</string>
    <string>tta-oriya.single</string>
    <string>ttha-oriya.single</string>
    <string>dda-oriya.single</string>
    <string>ddha-oriya.single</string>
    <string>nna-oriya.single</string>
    <string>ta-oriya.single</string>
    <string>tha-oriya.single</string>
    <string>da-oriya.single</string>
    <string>dha-oriya.single</string>
    <string>na-oriya.single</string>
    <string>pa-oriya.single</string>
    <string>pha-oriya.single</string>
    <string>ba-oriya.single</string>
    <string>bha-oriya.single</string>
    <string>ma-oriya.single</string>
    <string>ya-oriya.single</string>
    <string>ra-oriya.single</string>
    <string>la-oriya.single</string>
    <string>lla-oriya.single</string>
    <string>va-oriya.single</string>
    <string>sha-oriya.single</string>
    <string>ssa-oriya.single</string>
    <string>sa-oriya.single</string>
    <string>ha-oriya.single</string>
    <string>kaka-oriya</string>
    <string>kaca-oriya</string>
    <string>kata-oriya</string>
    <string>katara-oriya</string>
    <string>kataraalt-oriya</string>
    <string>katta-oriya</string>
    <string>kava-oriya</string>
    <string>kalla-oriya</string>
    <string>kassa-oriya</string>
    <string>kassanna-oriya</string>
    <string>kassama-oriya</string>
    <string>kassara-oriya</string>
    <string>kasa-oriya</string>
    <string>gada-oriya</string>
    <string>gadha-oriya</string>
    <string>gana-oriya</string>
    <string>galla-oriya</string>
    <string>ghana-oriya</string>
    <string>ngaka-oriya</string>
    <string>ngakata-oriya</string>
    <string>ngakassa-oriya</string>
    <string>ngakha-oriya</string>
    <string>ngaga-oriya</string>
    <string>ngagha-oriya</string>
    <string>caca-oriya</string>
    <string>cacha-oriya</string>
    <string>jaja-oriya</string>
    <string>jajava-oriya</string>
    <string>jajha-oriya</string>
    <string>janya-oriya</string>
    <string>java-oriya</string>
    <string>nyaca-oriya</string>
    <string>nyacha-oriya</string>
    <string>nyaja-oriya</string>
    <string>nyajha-oriya</string>
    <string>ttatta-oriya</string>
    <string>ddaga-oriya</string>
    <string>ddadda-oriya</string>
    <string>nnatta-oriya</string>
    <string>nnattha-oriya</string>
    <string>nnadda-oriya</string>
    <string>nnaddara-oriya</string>
    <string>nnaddha-oriya</string>
    <string>nnanna-oriya</string>
    <string>taka-oriya</string>
    <string>takara-oriya</string>
    <string>tata-oriya</string>
    <string>tatava-oriya</string>
    <string>tatara-oriya</string>
    <string>tatha-oriya</string>
    <string>tana-oriya</string>
    <string>tapa-oriya</string>
    <string>tapara-oriya</string>
    <string>tava-oriya</string>
    <string>tama-oriya</string>
    <string>tasa-oriya</string>
    <string>tasana-oriya</string>
    <string>daga-oriya</string>
    <string>dagha-oriya</string>
    <string>dada-oriya</string>
    <string>dadha-oriya</string>
    <string>dadhava-oriya</string>
    <string>dava-oriya</string>
    <string>dabha-oriya</string>
    <string>dhava-oriya</string>
    <string>dhaya-oriya</string>
    <string>dhayya-oriya</string>
    <string>nata-oriya</string>
    <string>natara-oriya</string>
    <string>natava-oriya</string>
    <string>natha-oriya</string>
    <string>nada-oriya</string>
    <string>nadara-oriya</string>
    <string>nadava-oriya</string>
    <string>nadha-oriya</string>
    <string>nadhava-oriya</string>
    <string>nadhara-oriya</string>
    <string>nana-oriya</string>
    <string>paka-oriya</string>
    <string>pata-oriya</string>
    <string>patta-oriya</string>
    <string>papa-oriya</string>
    <string>palla-oriya</string>
    <string>pasa-oriya</string>
    <string>baja-oriya</string>
    <string>bada-oriya</string>
    <string>badha-oriya</string>
    <string>baba-oriya</string>
    <string>mapa-oriya</string>
    <string>mapara-oriya</string>
    <string>mapha-oriya</string>
    <string>maba-oriya</string>
    <string>mabha-oriya</string>
    <string>mabhara-oriya</string>
    <string>mama-oriya</string>
    <string>llaka-oriya</string>
    <string>llalla-oriya</string>
    <string>llapa-oriya</string>
    <string>llapha-oriya</string>
    <string>laka-oriya</string>
    <string>laga-oriya</string>
    <string>lapa-oriya</string>
    <string>lapha-oriya</string>
    <string>lama-oriya</string>
    <string>lala-oriya</string>
    <string>lalla-oriya</string>
    <string>shaca-oriya</string>
    <string>shacha-oriya</string>
    <string>shava-oriya</string>
    <string>shalla-oriya</string>
    <string>ssaka-oriya</string>
    <string>ssakara-oriya</string>
    <string>ssatta-oriya</string>
    <string>ssattara-oriya</string>
    <string>ssattha-oriya</string>
    <string>ssanna-oriya</string>
    <string>ssapa-oriya</string>
    <string>ssapha-oriya</string>
    <string>saka-oriya</string>
    <string>sakha-oriya</string>
    <string>sata-oriya</string>
    <string>satara-oriya</string>
    <string>satha-oriya</string>
    <string>sana-oriya</string>
    <string>sapa-oriya</string>
    <string>sapha-oriya</string>
    <string>sava-oriya</string>
    <string>sama-oriya</string>
    <string>haka-oriya</string>
    <string>haja-oriya</string>
    <string>hana-oriya</string>
    <string>hama-oriya</string>
    <string>hala-oriya</string>
    <string>halla-oriya</string>
    <string>hava-oriya</string>
    <string>hau-oriya</string>
    <string>hauu-oriya</string>
    <string>harVocalic-oriya</string>
    <string>rephcandraBindu-oriya</string>
    <string>iMatracandraBindu-oriya</string>
    <string>iMatracandraBindu-oriya.wide</string>
    <string>iMatrareph-oriya</string>
    <string>iMatrareph-oriya.wide</string>
    <string>iMatrarephcandraBindu-oriya</string>
    <string>iMatrarephcandraBindu-oriya.wide</string>
    <string>aiLengthcandraBindu-oriya</string>
    <string>aiLengthcandraBindu-oriya.stem</string>
    <string>aiLengthcandraBindu-oriya.umbrella</string>
    <string>rephaiLength-oriya</string>
    <string>rephaiLength-oriya.stem</string>
    <string>rephaiLength-oriya.umbrella</string>
    <string>rephaiLengthcandraBindu-oriya</string>
    <string>rephaiLengthcandraBindu-oriya.stem</string>
    <string>rephaiLengthcandraBindu-oriya.umbrella</string>
    <string>auLengthcandraBindu-oriya</string>
    <string>rephauLength-oriya</string>
    <string>rephauLengthcandraBindu-oriya</string>
    <string>rauMatra-oriya.below</string>
    <string>rauuMatra-oriya.below</string>
    <string>rarVocalicMatra-oriya.below</string>
    <string>rarrVocalicMatra-oriya.below</string>
    <string>aicandraBindu-oriya</string>
    <string>aireph-oriya</string>
    <string>airephcandraBindu-oriya</string>
    <string>aucandraBindu-oriya</string>
    <string>aureph-oriya</string>
    <string>aurephcandraBindu-oriya</string>
    <string>rupeeIndian</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>percent</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>softhyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>ellipsis</string>
    <string>multiply</string>
    <string>divide</string>
    <string>minus</string>
    <string>nnattahalant-oriya</string>
    <string>nnaddahalant-oriya</string>
    <string>tarauMatra-oriya</string>
    <string>darauMatra-oriya</string>
    <string>natauMatra-oriya</string>
    <string>ssattahalant-oriya</string>
    <string>saparVocalicMatra-oriya</string>
    <string>tara-oriya.below</string>
    <string>bhaalt-oriya.below</string>
    <string>_part.da.below</string>
    <string>partta-oriya.below</string>
    <string>_part.pha</string>
    <string>_part.ra.below</string>
    <string>_cap.overlap</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>a-oriya</key>
    <string>uni0B05</string>
    <key>aa-oriya</key>
    <string>uni0B06</string>
    <key>aaMatra-oriya</key>
    <string>uni0B3E</string>
    <key>ai-oriya</key>
    <string>uni0B10</string>
    <key>aiLength-oriya</key>
    <string>uni0B56</string>
    <key>aiLength-oriya.stem</key>
    <string>uni0B56.stem</string>
    <key>aiLength-oriya.umbrella</key>
    <string>uni0B56.umbrella</string>
    <key>aiLengthcandraBindu-oriya</key>
    <string>aiLengthcandraBinduoriya</string>
    <key>aiLengthcandraBindu-oriya.stem</key>
    <string>aiLengthcandraBinduoriya.stem</string>
    <key>aiLengthcandraBindu-oriya.umbrella</key>
    <string>aiLengthcandraBinduoriya.umbrella</string>
    <key>aiMatra-oriya</key>
    <string>uni0B48</string>
    <key>aicandraBindu-oriya</key>
    <string>aicandraBinduoriya</string>
    <key>aireph-oriya</key>
    <string>airephoriya</string>
    <key>airephcandraBindu-oriya</key>
    <string>airephcandraBinduoriya</string>
    <key>anusvara-oriya</key>
    <string>uni0B02</string>
    <key>au-oriya</key>
    <string>uni0B14</string>
    <key>auLength-oriya</key>
    <string>uni0B57</string>
    <key>auLengthcandraBindu-oriya</key>
    <string>auLengthcandraBinduoriya</string>
    <key>auMatra-oriya</key>
    <string>uni0B4C</string>
    <key>aucandraBindu-oriya</key>
    <string>aucandraBinduoriya</string>
    <key>aureph-oriya</key>
    <string>aurephoriya</string>
    <key>aurephcandraBindu-oriya</key>
    <string>aurephcandraBinduoriya</string>
    <key>avagraha-oriya</key>
    <string>uni0B3D</string>
    <key>ba-oriya</key>
    <string>uni0B2C</string>
    <key>ba-oriya.base</key>
    <string>uni0B2C.base</string>
    <key>ba-oriya.below</key>
    <string>uni0B4D0B2C</string>
    <key>ba-oriya.single</key>
    <string>uni0B4D0B2C.single</string>
    <key>baba-oriya</key>
    <string>babaoriya</string>
    <key>bada-oriya</key>
    <string>badaoriya</string>
    <key>badha-oriya</key>
    <string>badhaoriya</string>
    <key>baja-oriya</key>
    <string>bajaoriya</string>
    <key>bara-oriya</key>
    <string>baraoriya</string>
    <key>bha-oriya</key>
    <string>uni0B2D</string>
    <key>bha-oriya.base</key>
    <string>uni0B2D.base</string>
    <key>bha-oriya.below</key>
    <string>uni0B4D0B2D</string>
    <key>bha-oriya.single</key>
    <string>uni0B4D0B2D.single</string>
    <key>bhaalt-oriya.below</key>
    <string>bhaaltoriya.below</string>
    <key>bhara-oriya</key>
    <string>bharaoriya</string>
    <key>ca-oriya</key>
    <string>uni0B1A</string>
    <key>ca-oriya.base</key>
    <string>uni0B1A.base</string>
    <key>ca-oriya.below</key>
    <string>uni0B4D0B1A</string>
    <key>ca-oriya.single</key>
    <string>uni0B4D0B1A.single</string>
    <key>caca-oriya</key>
    <string>cacaoriya</string>
    <key>cacha-oriya</key>
    <string>cachaoriya</string>
    <key>candraBindu-oriya</key>
    <string>uni0B01</string>
    <key>cara-oriya</key>
    <string>caraoriya</string>
    <key>cha-oriya</key>
    <string>uni0B1B</string>
    <key>cha-oriya.base</key>
    <string>uni0B1B.base</string>
    <key>cha-oriya.below</key>
    <string>uni0B4D0B1B</string>
    <key>cha-oriya.single</key>
    <string>uni0B4D0B1B.single</string>
    <key>chara-oriya</key>
    <string>charaoriya</string>
    <key>da-oriya</key>
    <string>uni0B26</string>
    <key>da-oriya.base</key>
    <string>uni0B26.base</string>
    <key>da-oriya.below</key>
    <string>uni0B4D0B26</string>
    <key>da-oriya.single</key>
    <string>uni0B4D0B26.single</string>
    <key>dabha-oriya</key>
    <string>dabhaoriya</string>
    <key>dada-oriya</key>
    <string>dadaoriya</string>
    <key>dadha-oriya</key>
    <string>dadhaoriya</string>
    <key>dadhava-oriya</key>
    <string>dadhavaoriya</string>
    <key>daga-oriya</key>
    <string>dagaoriya</string>
    <key>dagha-oriya</key>
    <string>daghaoriya</string>
    <key>danda</key>
    <string>uni0964</string>
    <key>dara-oriya</key>
    <string>daraoriya</string>
    <key>darauMatra-oriya</key>
    <string>darauMatraoriya</string>
    <key>dava-oriya</key>
    <string>davaoriya</string>
    <key>dbldanda</key>
    <string>uni0965</string>
    <key>dda-oriya</key>
    <string>uni0B21</string>
    <key>dda-oriya.base</key>
    <string>uni0B21.base</string>
    <key>dda-oriya.below</key>
    <string>uni0B4D0B21</string>
    <key>dda-oriya.single</key>
    <string>uni0B4D0B21.single</string>
    <key>ddadda-oriya</key>
    <string>ddaddaoriya</string>
    <key>ddaga-oriya</key>
    <string>ddagaoriya</string>
    <key>ddara-oriya</key>
    <string>ddaraoriya</string>
    <key>ddha-oriya</key>
    <string>uni0B22</string>
    <key>ddha-oriya.base</key>
    <string>uni0B22.base</string>
    <key>ddha-oriya.below</key>
    <string>uni0B4D0B22</string>
    <key>ddha-oriya.single</key>
    <string>uni0B4D0B22.single</string>
    <key>ddhara-oriya</key>
    <string>ddharaoriya</string>
    <key>dha-oriya</key>
    <string>uni0B27</string>
    <key>dha-oriya.base</key>
    <string>uni0B27.base</string>
    <key>dha-oriya.below</key>
    <string>uni0B4D0B27</string>
    <key>dha-oriya.single</key>
    <string>uni0B4D0B27.single</string>
    <key>dhara-oriya</key>
    <string>dharaoriya</string>
    <key>dhava-oriya</key>
    <string>dhavaoriya</string>
    <key>dhaya-oriya</key>
    <string>dhayaoriya</string>
    <key>dhayya-oriya</key>
    <string>dhayyaoriya</string>
    <key>dottedCircle</key>
    <string>uni25CC</string>
    <key>e-oriya</key>
    <string>uni0B0F</string>
    <key>eMatra-oriya</key>
    <string>uni0B47</string>
    <key>eight-oriya</key>
    <string>uni0B6E</string>
    <key>five-oriya</key>
    <string>uni0B6B</string>
    <key>four-oriya</key>
    <string>uni0B6A</string>
    <key>ga-oriya</key>
    <string>uni0B17</string>
    <key>ga-oriya.base</key>
    <string>uni0B17.base</string>
    <key>ga-oriya.below</key>
    <string>uni0B4D0B17</string>
    <key>ga-oriya.single</key>
    <string>uni0B4D0B17.single</string>
    <key>gada-oriya</key>
    <string>gadaoriya</string>
    <key>gadha-oriya</key>
    <string>gadhaoriya</string>
    <key>galla-oriya</key>
    <string>gallaoriya</string>
    <key>gana-oriya</key>
    <string>ganaoriya</string>
    <key>gara-oriya</key>
    <string>garaoriya</string>
    <key>gha-oriya</key>
    <string>uni0B18</string>
    <key>gha-oriya.base</key>
    <string>uni0B18.base</string>
    <key>gha-oriya.below</key>
    <string>uni0B4D0B18</string>
    <key>gha-oriya.single</key>
    <string>uni0B4D0B18.single</string>
    <key>ghana-oriya</key>
    <string>ghanaoriya</string>
    <key>ghara-oriya</key>
    <string>gharaoriya</string>
    <key>ha-oriya</key>
    <string>uni0B39</string>
    <key>ha-oriya.base</key>
    <string>uni0B39.base</string>
    <key>ha-oriya.below</key>
    <string>uni0B4D0B39</string>
    <key>ha-oriya.single</key>
    <string>uni0B4D0B39.single</string>
    <key>haja-oriya</key>
    <string>hajaoriya</string>
    <key>haka-oriya</key>
    <string>hakaoriya</string>
    <key>hala-oriya</key>
    <string>halaoriya</string>
    <key>halant-oriya</key>
    <string>uni0B4D</string>
    <key>halla-oriya</key>
    <string>hallaoriya</string>
    <key>hama-oriya</key>
    <string>hamaoriya</string>
    <key>hana-oriya</key>
    <string>hanaoriya</string>
    <key>harVocalic-oriya</key>
    <string>harVocalicoriya</string>
    <key>hara-oriya</key>
    <string>haraoriya</string>
    <key>hau-oriya</key>
    <string>hauoriya</string>
    <key>hauu-oriya</key>
    <string>hauuoriya</string>
    <key>hava-oriya</key>
    <string>havaoriya</string>
    <key>i-oriya</key>
    <string>uni0B07</string>
    <key>iMatra-oriya</key>
    <string>uni0B3F</string>
    <key>iMatra-oriya.below</key>
    <string>uni0B3F.below</string>
    <key>iMatra-oriya.wide</key>
    <string>uni0B3F.wide</string>
    <key>iMatracandraBindu-oriya</key>
    <string>iMatracandraBinduoriya</string>
    <key>iMatracandraBindu-oriya.wide</key>
    <string>iMatracandraBinduoriya.wide</string>
    <key>iMatrareph-oriya</key>
    <string>iMatrarephoriya</string>
    <key>iMatrareph-oriya.wide</key>
    <string>iMatrarephoriya.wide</string>
    <key>iMatrarephcandraBindu-oriya</key>
    <string>iMatrarephcandraBinduoriya</string>
    <key>iMatrarephcandraBindu-oriya.wide</key>
    <string>iMatrarephcandraBinduoriya.wide</string>
    <key>ii-oriya</key>
    <string>uni0B08</string>
    <key>iiMatra-oriya</key>
    <string>uni0B40</string>
    <key>isshar-oriya</key>
    <string>uni0B70</string>
    <key>ja-oriya</key>
    <string>uni0B1C</string>
    <key>ja-oriya.base</key>
    <string>uni0B1C.base</string>
    <key>ja-oriya.below</key>
    <string>uni0B4D0B1C</string>
    <key>ja-oriya.single</key>
    <string>uni0B4D0B1C.single</string>
    <key>jaja-oriya</key>
    <string>jajaoriya</string>
    <key>jajava-oriya</key>
    <string>jajavaoriya</string>
    <key>jajha-oriya</key>
    <string>jajhaoriya</string>
    <key>janya-oriya</key>
    <string>janyaoriya</string>
    <key>jara-oriya</key>
    <string>jaraoriya</string>
    <key>java-oriya</key>
    <string>javaoriya</string>
    <key>jha-oriya</key>
    <string>uni0B1D</string>
    <key>jha-oriya.base</key>
    <string>uni0B1D.base</string>
    <key>jha-oriya.below</key>
    <string>uni0B4D0B1D</string>
    <key>jha-oriya.single</key>
    <string>uni0B4D0B1D.single</string>
    <key>jhara-oriya</key>
    <string>jharaoriya</string>
    <key>ka-oriya</key>
    <string>uni0B15</string>
    <key>ka-oriya.base</key>
    <string>uni0B15.base</string>
    <key>ka-oriya.below</key>
    <string>uni0B4D0B15</string>
    <key>ka-oriya.single</key>
    <string>uni0B4D0B15.single</string>
    <key>kaca-oriya</key>
    <string>kacaoriya</string>
    <key>kaka-oriya</key>
    <string>kakaoriya</string>
    <key>kalla-oriya</key>
    <string>kallaoriya</string>
    <key>kara-oriya</key>
    <string>karaoriya</string>
    <key>kasa-oriya</key>
    <string>kasaoriya</string>
    <key>kassa-oriya</key>
    <string>kassaoriya</string>
    <key>kassa-oriya.base</key>
    <string>kassaoriya.base</string>
    <key>kassa-oriya.below</key>
    <string>kassaoriya.below</string>
    <key>kassama-oriya</key>
    <string>kassamaoriya</string>
    <key>kassanna-oriya</key>
    <string>kassannaoriya</string>
    <key>kassara-oriya</key>
    <string>kassaraoriya</string>
    <key>kata-oriya</key>
    <string>kataoriya</string>
    <key>katara-oriya</key>
    <string>kataraoriya</string>
    <key>kataraalt-oriya</key>
    <string>kataraaltoriya</string>
    <key>katta-oriya</key>
    <string>kattaoriya</string>
    <key>kava-oriya</key>
    <string>kavaoriya</string>
    <key>kha-oriya</key>
    <string>uni0B16</string>
    <key>kha-oriya.base</key>
    <string>uni0B16.base</string>
    <key>kha-oriya.below</key>
    <string>uni0B4D0B16</string>
    <key>kha-oriya.single</key>
    <string>uni0B4D0B16.single</string>
    <key>khara-oriya</key>
    <string>kharaoriya</string>
    <key>lVocalic-oriya</key>
    <string>uni0B0C</string>
    <key>lVocalicMatra-oriya</key>
    <string>uni0B62</string>
    <key>la-oriya</key>
    <string>uni0B32</string>
    <key>la-oriya.base</key>
    <string>uni0B32.base</string>
    <key>la-oriya.below</key>
    <string>uni0B4D0B32</string>
    <key>la-oriya.single</key>
    <string>uni0B4D0B32.single</string>
    <key>laga-oriya</key>
    <string>lagaoriya</string>
    <key>laka-oriya</key>
    <string>lakaoriya</string>
    <key>lala-oriya</key>
    <string>lalaoriya</string>
    <key>lalla-oriya</key>
    <string>lallaoriya</string>
    <key>lama-oriya</key>
    <string>lamaoriya</string>
    <key>lapa-oriya</key>
    <string>lapaoriya</string>
    <key>lapha-oriya</key>
    <string>laphaoriya</string>
    <key>lara-oriya</key>
    <string>laraoriya</string>
    <key>llVocalic-oriya</key>
    <string>uni0B61</string>
    <key>llVocalicMatra-oriya</key>
    <string>uni0B63</string>
    <key>lla-oriya</key>
    <string>uni0B33</string>
    <key>lla-oriya.base</key>
    <string>uni0B33.base</string>
    <key>lla-oriya.below</key>
    <string>uni0B4D0B33</string>
    <key>lla-oriya.single</key>
    <string>uni0B4D0B33.single</string>
    <key>llaka-oriya</key>
    <string>llakaoriya</string>
    <key>llalla-oriya</key>
    <string>llallaoriya</string>
    <key>llapa-oriya</key>
    <string>llapaoriya</string>
    <key>llapha-oriya</key>
    <string>llaphaoriya</string>
    <key>llara-oriya</key>
    <string>llaraoriya</string>
    <key>ma-oriya</key>
    <string>uni0B2E</string>
    <key>ma-oriya.base</key>
    <string>uni0B2E.base</string>
    <key>ma-oriya.below</key>
    <string>uni0B4D0B2E</string>
    <key>ma-oriya.single</key>
    <string>uni0B4D0B2E.single</string>
    <key>maba-oriya</key>
    <string>mabaoriya</string>
    <key>mabha-oriya</key>
    <string>mabhaoriya</string>
    <key>mabhara-oriya</key>
    <string>mabharaoriya</string>
    <key>mama-oriya</key>
    <string>mamaoriya</string>
    <key>mapa-oriya</key>
    <string>mapaoriya</string>
    <key>mapara-oriya</key>
    <string>maparaoriya</string>
    <key>mapha-oriya</key>
    <string>maphaoriya</string>
    <key>mara-oriya</key>
    <string>maraoriya</string>
    <key>na-oriya</key>
    <string>uni0B28</string>
    <key>na-oriya.base</key>
    <string>uni0B28.base</string>
    <key>na-oriya.below</key>
    <string>uni0B4D0B28</string>
    <key>na-oriya.single</key>
    <string>uni0B4D0B28.single</string>
    <key>nada-oriya</key>
    <string>nadaoriya</string>
    <key>nadara-oriya</key>
    <string>nadaraoriya</string>
    <key>nadava-oriya</key>
    <string>nadavaoriya</string>
    <key>nadha-oriya</key>
    <string>nadhaoriya</string>
    <key>nadhara-oriya</key>
    <string>nadharaoriya</string>
    <key>nadhava-oriya</key>
    <string>nadhavaoriya</string>
    <key>nana-oriya</key>
    <string>nanaoriya</string>
    <key>nara-oriya</key>
    <string>naraoriya</string>
    <key>nata-oriya</key>
    <string>nataoriya</string>
    <key>natara-oriya</key>
    <string>nataraoriya</string>
    <key>natauMatra-oriya</key>
    <string>natauMatraoriya</string>
    <key>natava-oriya</key>
    <string>natavaoriya</string>
    <key>natha-oriya</key>
    <string>nathaoriya</string>
    <key>nbspace</key>
    <string>uni00A0</string>
    <key>nga-oriya</key>
    <string>uni0B19</string>
    <key>nga-oriya.base</key>
    <string>uni0B19.base</string>
    <key>nga-oriya.below</key>
    <string>uni0B4D0B19</string>
    <key>nga-oriya.single</key>
    <string>uni0B4D0B19.single</string>
    <key>ngaga-oriya</key>
    <string>ngagaoriya</string>
    <key>ngagha-oriya</key>
    <string>ngaghaoriya</string>
    <key>ngaka-oriya</key>
    <string>ngakaoriya</string>
    <key>ngakassa-oriya</key>
    <string>ngakassaoriya</string>
    <key>ngakata-oriya</key>
    <string>ngakataoriya</string>
    <key>ngakha-oriya</key>
    <string>ngakhaoriya</string>
    <key>ngara-oriya</key>
    <string>ngaraoriya</string>
    <key>nine-oriya</key>
    <string>uni0B6F</string>
    <key>nna-oriya</key>
    <string>uni0B23</string>
    <key>nna-oriya.base</key>
    <string>uni0B23.base</string>
    <key>nna-oriya.below</key>
    <string>uni0B4D0B23</string>
    <key>nna-oriya.single</key>
    <string>uni0B4D0B23.single</string>
    <key>nnadda-oriya</key>
    <string>nnaddaoriya</string>
    <key>nnaddahalant-oriya</key>
    <string>nnaddahalantoriya</string>
    <key>nnaddara-oriya</key>
    <string>nnaddaraoriya</string>
    <key>nnaddha-oriya</key>
    <string>nnaddhaoriya</string>
    <key>nnanna-oriya</key>
    <string>nnannaoriya</string>
    <key>nnara-oriya</key>
    <string>nnaraoriya</string>
    <key>nnatta-oriya</key>
    <string>nnattaoriya</string>
    <key>nnattahalant-oriya</key>
    <string>nnattahalantoriya</string>
    <key>nnattha-oriya</key>
    <string>nnatthaoriya</string>
    <key>nukta-oriya</key>
    <string>uni0B3C</string>
    <key>nya-oriya</key>
    <string>uni0B1E</string>
    <key>nya-oriya.base</key>
    <string>uni0B1E.base</string>
    <key>nyaca-oriya</key>
    <string>nyacaoriya</string>
    <key>nyacha-oriya</key>
    <string>nyachaoriya</string>
    <key>nyaja-oriya</key>
    <string>nyajaoriya</string>
    <key>nyajha-oriya</key>
    <string>nyajhaoriya</string>
    <key>nyara-oriya</key>
    <string>nyaraoriya</string>
    <key>o-oriya</key>
    <string>uni0B13</string>
    <key>oMatra-oriya</key>
    <string>uni0B4B</string>
    <key>om-oriya</key>
    <string>omoriya</string>
    <key>one-oriya</key>
    <string>uni0B67</string>
    <key>oneeighth-oriya</key>
    <string>uni0B76</string>
    <key>onehalf-oriya</key>
    <string>uni0B73</string>
    <key>onequarter-oriya</key>
    <string>uni0B72</string>
    <key>onesixteenth-oriya</key>
    <string>uni0B75</string>
    <key>pa-oriya</key>
    <string>uni0B2A</string>
    <key>pa-oriya.base</key>
    <string>uni0B2A.base</string>
    <key>pa-oriya.below</key>
    <string>uni0B4D0B2A</string>
    <key>pa-oriya.single</key>
    <string>uni0B4D0B2A.single</string>
    <key>paka-oriya</key>
    <string>pakaoriya</string>
    <key>palla-oriya</key>
    <string>pallaoriya</string>
    <key>papa-oriya</key>
    <string>papaoriya</string>
    <key>para-oriya</key>
    <string>paraoriya</string>
    <key>partta-oriya.below</key>
    <string>parttaoriya.below</string>
    <key>pasa-oriya</key>
    <string>pasaoriya</string>
    <key>pata-oriya</key>
    <string>pataoriya</string>
    <key>patta-oriya</key>
    <string>pattaoriya</string>
    <key>pha-oriya</key>
    <string>uni0B2B</string>
    <key>pha-oriya.base</key>
    <string>uni0B2B.base</string>
    <key>pha-oriya.below</key>
    <string>uni0B4D0B2B</string>
    <key>pha-oriya.single</key>
    <string>uni0B4D0B2B.single</string>
    <key>phara-oriya</key>
    <string>pharaoriya</string>
    <key>rVocalic-oriya</key>
    <string>uni0B0B</string>
    <key>rVocalicMatra-oriya</key>
    <string>uni0B43</string>
    <key>ra-oriya</key>
    <string>uni0B30</string>
    <key>ra-oriya.base</key>
    <string>uni0B30.base</string>
    <key>ra-oriya.below</key>
    <string>uni0B4D0B30</string>
    <key>ra-oriya.single</key>
    <string>uni0B4D0B30.single</string>
    <key>rarVocalicMatra-oriya.below</key>
    <string>rarVocalicMatraoriya.below</string>
    <key>rarrVocalicMatra-oriya.below</key>
    <string>rarrVocalicMatraoriya.below</string>
    <key>rauMatra-oriya.below</key>
    <string>rauMatraoriya.below</string>
    <key>rauuMatra-oriya.below</key>
    <string>rauuMatraoriya.below</string>
    <key>reph-oriya</key>
    <string>uni0B300B4D</string>
    <key>rephaiLength-oriya</key>
    <string>rephaiLengthoriya</string>
    <key>rephaiLength-oriya.stem</key>
    <string>rephaiLengthoriya.stem</string>
    <key>rephaiLength-oriya.umbrella</key>
    <string>rephaiLengthoriya.umbrella</string>
    <key>rephaiLengthcandraBindu-oriya</key>
    <string>rephaiLengthcandraBinduoriya</string>
    <key>rephaiLengthcandraBindu-oriya.stem</key>
    <string>rephaiLengthcandraBinduoriya.stem</string>
    <key>rephaiLengthcandraBindu-oriya.umbrella</key>
    <string>rephaiLengthcandraBinduoriya.umbrella</string>
    <key>rephauLength-oriya</key>
    <string>rephauLengthoriya</string>
    <key>rephauLengthcandraBindu-oriya</key>
    <string>rephauLengthcandraBinduoriya</string>
    <key>rephcandraBindu-oriya</key>
    <string>rephcandraBinduoriya</string>
    <key>rha-oriya</key>
    <string>uni0B5D</string>
    <key>rha-oriya.base</key>
    <string>uni0B5D.base</string>
    <key>rhara-oriya</key>
    <string>rharaoriya</string>
    <key>rrVocalic-oriya</key>
    <string>uni0B60</string>
    <key>rrVocalicMatra-oriya</key>
    <string>uni0B44</string>
    <key>rra-oriya</key>
    <string>uni0B5C</string>
    <key>rra-oriya.base</key>
    <string>uni0B5C.base</string>
    <key>rrara-oriya</key>
    <string>rraraoriya</string>
    <key>rupeeIndian</key>
    <string>uni20B9</string>
    <key>sa-oriya</key>
    <string>uni0B38</string>
    <key>sa-oriya.base</key>
    <string>uni0B38.base</string>
    <key>sa-oriya.below</key>
    <string>uni0B4D0B38</string>
    <key>sa-oriya.single</key>
    <string>uni0B4D0B38.single</string>
    <key>saka-oriya</key>
    <string>sakaoriya</string>
    <key>sakha-oriya</key>
    <string>sakhaoriya</string>
    <key>sama-oriya</key>
    <string>samaoriya</string>
    <key>sana-oriya</key>
    <string>sanaoriya</string>
    <key>sapa-oriya</key>
    <string>sapaoriya</string>
    <key>saparVocalicMatra-oriya</key>
    <string>saparVocalicMatraoriya</string>
    <key>sapha-oriya</key>
    <string>saphaoriya</string>
    <key>sara-oriya</key>
    <string>saraoriya</string>
    <key>sata-oriya</key>
    <string>sataoriya</string>
    <key>satara-oriya</key>
    <string>sataraoriya</string>
    <key>satha-oriya</key>
    <string>sathaoriya</string>
    <key>sava-oriya</key>
    <string>savaoriya</string>
    <key>seven-oriya</key>
    <string>uni0B6D</string>
    <key>sha-oriya</key>
    <string>uni0B36</string>
    <key>sha-oriya.base</key>
    <string>uni0B36.base</string>
    <key>sha-oriya.below</key>
    <string>uni0B4D0B36</string>
    <key>sha-oriya.single</key>
    <string>uni0B4D0B36.single</string>
    <key>shaca-oriya</key>
    <string>shacaoriya</string>
    <key>shacha-oriya</key>
    <string>shachaoriya</string>
    <key>shalla-oriya</key>
    <string>shallaoriya</string>
    <key>shara-oriya</key>
    <string>sharaoriya</string>
    <key>shava-oriya</key>
    <string>shavaoriya</string>
    <key>six-oriya</key>
    <string>uni0B6C</string>
    <key>softhyphen</key>
    <string>uni00AD</string>
    <key>ssa-oriya</key>
    <string>uni0B37</string>
    <key>ssa-oriya.base</key>
    <string>uni0B37.base</string>
    <key>ssa-oriya.below</key>
    <string>uni0B4D0B37</string>
    <key>ssa-oriya.single</key>
    <string>uni0B4D0B37.single</string>
    <key>ssaka-oriya</key>
    <string>ssakaoriya</string>
    <key>ssakara-oriya</key>
    <string>ssakaraoriya</string>
    <key>ssanna-oriya</key>
    <string>ssannaoriya</string>
    <key>ssapa-oriya</key>
    <string>ssapaoriya</string>
    <key>ssapha-oriya</key>
    <string>ssaphaoriya</string>
    <key>ssara-oriya</key>
    <string>ssaraoriya</string>
    <key>ssatta-oriya</key>
    <string>ssattaoriya</string>
    <key>ssattahalant-oriya</key>
    <string>ssattahalantoriya</string>
    <key>ssattara-oriya</key>
    <string>ssattaraoriya</string>
    <key>ssattha-oriya</key>
    <string>ssatthaoriya</string>
    <key>ta-oriya</key>
    <string>uni0B24</string>
    <key>ta-oriya.base</key>
    <string>uni0B24.base</string>
    <key>ta-oriya.below</key>
    <string>uni0B4D0B24</string>
    <key>ta-oriya.single</key>
    <string>uni0B4D0B24.single</string>
    <key>taalt-oriya.below</key>
    <string>taaltoriya.below</string>
    <key>taka-oriya</key>
    <string>takaoriya</string>
    <key>takara-oriya</key>
    <string>takaraoriya</string>
    <key>tama-oriya</key>
    <string>tamaoriya</string>
    <key>tana-oriya</key>
    <string>tanaoriya</string>
    <key>tapa-oriya</key>
    <string>tapaoriya</string>
    <key>tapara-oriya</key>
    <string>taparaoriya</string>
    <key>tara-oriya</key>
    <string>taraoriya</string>
    <key>tara-oriya.below</key>
    <string>taraoriya.below</string>
    <key>tarauMatra-oriya</key>
    <string>tarauMatraoriya</string>
    <key>tasa-oriya</key>
    <string>tasaoriya</string>
    <key>tasana-oriya</key>
    <string>tasanaoriya</string>
    <key>tata-oriya</key>
    <string>tataoriya</string>
    <key>tatara-oriya</key>
    <string>tataraoriya</string>
    <key>tatava-oriya</key>
    <string>tatavaoriya</string>
    <key>tatha-oriya</key>
    <string>tathaoriya</string>
    <key>tava-oriya</key>
    <string>tavaoriya</string>
    <key>tha-oriya</key>
    <string>uni0B25</string>
    <key>tha-oriya.base</key>
    <string>uni0B25.base</string>
    <key>tha-oriya.below</key>
    <string>uni0B4D0B25</string>
    <key>tha-oriya.single</key>
    <string>uni0B4D0B25.single</string>
    <key>thara-oriya</key>
    <string>tharaoriya</string>
    <key>three-oriya</key>
    <string>uni0B69</string>
    <key>threequarters-oriya</key>
    <string>uni0B74</string>
    <key>threesixteenths-oriya</key>
    <string>uni0B77</string>
    <key>tta-oriya</key>
    <string>uni0B1F</string>
    <key>tta-oriya.base</key>
    <string>uni0B1F.base</string>
    <key>tta-oriya.below</key>
    <string>uni0B4D0B1F</string>
    <key>tta-oriya.single</key>
    <string>uni0B4D0B1F.single</string>
    <key>ttara-oriya</key>
    <string>ttaraoriya</string>
    <key>ttatta-oriya</key>
    <string>ttattaoriya</string>
    <key>ttha-oriya</key>
    <string>uni0B20</string>
    <key>ttha-oriya.base</key>
    <string>uni0B20.base</string>
    <key>ttha-oriya.below</key>
    <string>uni0B4D0B20</string>
    <key>ttha-oriya.single</key>
    <string>uni0B4D0B20.single</string>
    <key>tthara-oriya</key>
    <string>ttharaoriya</string>
    <key>two-oriya</key>
    <string>uni0B68</string>
    <key>u-oriya</key>
    <string>uni0B09</string>
    <key>uMatra-oriya</key>
    <string>uni0B41</string>
    <key>uu-oriya</key>
    <string>uni0B0A</string>
    <key>uuMatra-oriya</key>
    <string>uni0B42</string>
    <key>va-oriya</key>
    <string>uni0B35</string>
    <key>va-oriya.base</key>
    <string>uni0B35.base</string>
    <key>va-oriya.below</key>
    <string>uni0B4D0B35</string>
    <key>va-oriya.single</key>
    <string>uni0B4D0B35.single</string>
    <key>vara-oriya</key>
    <string>varaoriya</string>
    <key>visarga-oriya</key>
    <string>uni0B03</string>
    <key>wa-oriya</key>
    <string>uni0B71</string>
    <key>wa-oriya.base</key>
    <string>uni0B71.base</string>
    <key>wara-oriya</key>
    <string>waraoriya</string>
    <key>ya-oriya</key>
    <string>uni0B2F</string>
    <key>ya-oriya.base</key>
    <string>uni0B2F.base</string>
    <key>ya-oriya.below</key>
    <string>uni0B4D0B2F</string>
    <key>ya-oriya.single</key>
    <string>uni0B4D0B2F.single</string>
    <key>yara-oriya</key>
    <string>yaraoriya</string>
    <key>yya-oriya</key>
    <string>uni0B5F</string>
    <key>yya-oriya.post</key>
    <string>uni0B4D0B5F</string>
    <key>yyara-oriya</key>
    <string>yyaraoriya</string>
    <key>zero-oriya</key>
    <string>uni0B66</string>
    <key>zerowidthjoiner</key>
    <string>uni200D</string>
    <key>zerowidthnonjoiner</key>
    <string>uni200C</string>
    <key>zerowidthspace</key>
    <string>uni200B</string>
  </dict>
</dict>
</plist>
