<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>1069</integer>
  <key>capHeight</key>
  <integer>714</integer>
  <key>copyright</key>
  <string>Copyright 2019 Google LLC. All Rights Reserved.</string>
  <key>descender</key>
  <integer>-293</integer>
  <key>familyName</key>
  <string>Japa Sans Oriya</string>
  <key>guidelines</key>
  <array>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>x</key>
      <integer>626</integer>
      <key>y</key>
      <integer>658</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>name</key>
      <string> [locked]</string>
      <key>x</key>
      <integer>401</integer>
      <key>y</key>
      <integer>-279</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>name</key>
      <string> [locked]</string>
      <key>x</key>
      <integer>-301</integer>
      <key>y</key>
      <integer>1238</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>name</key>
      <string> [locked]</string>
      <key>x</key>
      <integer>-320</integer>
      <key>y</key>
      <integer>961</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>x</key>
      <integer>-305</integer>
      <key>y</key>
      <integer>-580</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>x</key>
      <integer>601</integer>
      <key>y</key>
      <integer>-244</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>x</key>
      <integer>590</integer>
      <key>y</key>
      <integer>-164</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>name</key>
      <string> [locked]</string>
      <key>x</key>
      <integer>591</integer>
      <key>y</key>
      <integer>116</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>90</integer>
      <key>name</key>
      <string> [locked]</string>
      <key>x</key>
      <integer>590</integer>
      <key>y</key>
      <integer>112</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>name</key>
      <string> [locked]</string>
      <key>x</key>
      <integer>639</integer>
      <key>y</key>
      <integer>60</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>x</key>
      <integer>618</integer>
      <key>y</key>
      <integer>-168</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>name</key>
      <string> [locked]</string>
      <key>x</key>
      <integer>589</integer>
      <key>y</key>
      <integer>112</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>x</key>
      <integer>599</integer>
      <key>y</key>
      <integer>-204</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>name</key>
      <string> [locked]</string>
      <key>x</key>
      <integer>618</integer>
      <key>y</key>
      <integer>10</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>x</key>
      <integer>599</integer>
      <key>y</key>
      <integer>-144</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>90</integer>
      <key>x</key>
      <integer>359</integer>
      <key>y</key>
      <integer>397</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>x</key>
      <integer>607</integer>
      <key>y</key>
      <integer>2</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>x</key>
      <integer>401</integer>
      <key>y</key>
      <integer>-248</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>90</integer>
      <key>x</key>
      <integer>626</integer>
      <key>y</key>
      <integer>76</integer>
    </dict>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>x</key>
      <integer>626</integer>
      <key>y</key>
      <integer>76</integer>
    </dict>
  </array>
  <key>openTypeHeadCreated</key>
  <string>2020/12/16 16:20:17</string>
  <key>openTypeHheaAscender</key>
  <integer>1069</integer>
  <key>openTypeHheaDescender</key>
  <integer>-293</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDescription</key>
  <string>Designed by Amélie Bonet and Sol Matas</string>
  <key>openTypeNameDesigner</key>
  <string>Amélie Bonet and Sol Matas</string>
  <key>openTypeNameDesignerURL</key>
  <string>http://www.monotype.com/studio</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This Font Software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the SIL Open Font License for the specific language, permissions and limitations governing your use of this Font Software.</string>
  <key>openTypeNameLicenseURL</key>
  <string>http://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>Google LLC</string>
  <key>openTypeNameManufacturerURL</key>
  <string>http://www.google.com/get/noto/</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>Japa Sans Oriya</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Condensed Extra Black</string>
  <key>openTypeNameUniqueID</key>
  <string>Google LLC: Japa Sans Oriya Condensed Extra Black: 2020</string>
  <key>openTypeNameVersion</key>
  <string>Version 2.000</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>2</integer>
    <integer>11</integer>
    <integer>5</integer>
    <integer>2</integer>
    <integer>4</integer>
    <integer>5</integer>
    <integer>4</integer>
    <integer>2</integer>
    <integer>2</integer>
    <integer>4</integer>
  </array>
  <key>openTypeOS2Type</key>
  <array/>
  <key>openTypeOS2TypoAscender</key>
  <integer>1069</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-293</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>19</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string>GOOG</string>
  <key>openTypeOS2WeightClass</key>
  <integer>170</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>1069</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>293</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-293</integer>
    <integer>-293</integer>
    <integer>-8</integer>
    <integer>0</integer>
    <integer>658</integer>
    <integer>666</integer>
    <integer>714</integer>
    <integer>722</integer>
    <integer>1069</integer>
    <integer>1077</integer>
  </array>
  <key>postscriptFontName</key>
  <string>JapaSansOriya-CondensedExtraBlack</string>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>146</integer>
    <integer>120</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>147</integer>
    <integer>152</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-100</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>50</integer>
  <key>styleMapFamilyName</key>
  <string>Japa Sans Oriya Thin</string>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>CondensedExtra Black</string>
  <key>trademark</key>
  <string>Noto is a trademark of Google Inc.</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>2</integer>
  <key>versionMinor</key>
  <integer>0</integer>
  <key>xHeight</key>
  <integer>658</integer>
</dict>
</plist>
