<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>_cap.overlap</key>
  <string>_cap.overlap.glif</string>
  <key>_part.da.below</key>
  <string>_part.da.below.glif</string>
  <key>_part.pha</key>
  <string>_part.pha.glif</string>
  <key>_part.ra.below</key>
  <string>_part.ra.below.glif</string>
  <key>a-oriya</key>
  <string>a-oriya.glif</string>
  <key>aa-oriya</key>
  <string>aa-oriya.glif</string>
  <key>aaMatra-oriya</key>
  <string>aaM_atra-oriya.glif</string>
  <key>ai-oriya</key>
  <string>ai-oriya.glif</string>
  <key>aiLength-oriya</key>
  <string>aiL_ength-oriya.glif</string>
  <key>aiLength-oriya.stem</key>
  <string>aiL_ength-oriya.stem.glif</string>
  <key>aiLength-oriya.umbrella</key>
  <string>aiL_ength-oriya.umbrella.glif</string>
  <key>aiLengthcandraBindu-oriya</key>
  <string>aiL_engthcandraB_indu-oriya.glif</string>
  <key>aiLengthcandraBindu-oriya.stem</key>
  <string>aiL_engthcandraB_indu-oriya.stem.glif</string>
  <key>aiLengthcandraBindu-oriya.umbrella</key>
  <string>aiL_engthcandraB_indu-oriya.umbrella.glif</string>
  <key>aiMatra-oriya</key>
  <string>aiM_atra-oriya.glif</string>
  <key>aicandraBindu-oriya</key>
  <string>aicandraB_indu-oriya.glif</string>
  <key>aireph-oriya</key>
  <string>aireph-oriya.glif</string>
  <key>airephcandraBindu-oriya</key>
  <string>airephcandraB_indu-oriya.glif</string>
  <key>anusvara-oriya</key>
  <string>anusvara-oriya.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>au-oriya</key>
  <string>au-oriya.glif</string>
  <key>auLength-oriya</key>
  <string>auL_ength-oriya.glif</string>
  <key>auLengthcandraBindu-oriya</key>
  <string>auL_engthcandraB_indu-oriya.glif</string>
  <key>auMatra-oriya</key>
  <string>auM_atra-oriya.glif</string>
  <key>aucandraBindu-oriya</key>
  <string>aucandraB_indu-oriya.glif</string>
  <key>aureph-oriya</key>
  <string>aureph-oriya.glif</string>
  <key>aurephcandraBindu-oriya</key>
  <string>aurephcandraB_indu-oriya.glif</string>
  <key>avagraha-oriya</key>
  <string>avagraha-oriya.glif</string>
  <key>ba-oriya</key>
  <string>ba-oriya.glif</string>
  <key>ba-oriya.base</key>
  <string>ba-oriya.base.glif</string>
  <key>ba-oriya.below</key>
  <string>ba-oriya.below.glif</string>
  <key>ba-oriya.single</key>
  <string>ba-oriya.single.glif</string>
  <key>baba-oriya</key>
  <string>baba-oriya.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bada-oriya</key>
  <string>bada-oriya.glif</string>
  <key>badha-oriya</key>
  <string>badha-oriya.glif</string>
  <key>baja-oriya</key>
  <string>baja-oriya.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>bara-oriya</key>
  <string>bara-oriya.glif</string>
  <key>bha-oriya</key>
  <string>bha-oriya.glif</string>
  <key>bha-oriya.base</key>
  <string>bha-oriya.base.glif</string>
  <key>bha-oriya.below</key>
  <string>bha-oriya.below.glif</string>
  <key>bha-oriya.single</key>
  <string>bha-oriya.single.glif</string>
  <key>bhaalt-oriya.below</key>
  <string>bhaalt-oriya.below.glif</string>
  <key>bhara-oriya</key>
  <string>bhara-oriya.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>ca-oriya</key>
  <string>ca-oriya.glif</string>
  <key>ca-oriya.base</key>
  <string>ca-oriya.base.glif</string>
  <key>ca-oriya.below</key>
  <string>ca-oriya.below.glif</string>
  <key>ca-oriya.single</key>
  <string>ca-oriya.single.glif</string>
  <key>caca-oriya</key>
  <string>caca-oriya.glif</string>
  <key>cacha-oriya</key>
  <string>cacha-oriya.glif</string>
  <key>candraBindu-oriya</key>
  <string>candraB_indu-oriya.glif</string>
  <key>cara-oriya</key>
  <string>cara-oriya.glif</string>
  <key>cha-oriya</key>
  <string>cha-oriya.glif</string>
  <key>cha-oriya.base</key>
  <string>cha-oriya.base.glif</string>
  <key>cha-oriya.below</key>
  <string>cha-oriya.below.glif</string>
  <key>cha-oriya.single</key>
  <string>cha-oriya.single.glif</string>
  <key>chara-oriya</key>
  <string>chara-oriya.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>da-oriya</key>
  <string>da-oriya.glif</string>
  <key>da-oriya.base</key>
  <string>da-oriya.base.glif</string>
  <key>da-oriya.below</key>
  <string>da-oriya.below.glif</string>
  <key>da-oriya.single</key>
  <string>da-oriya.single.glif</string>
  <key>dabha-oriya</key>
  <string>dabha-oriya.glif</string>
  <key>dada-oriya</key>
  <string>dada-oriya.glif</string>
  <key>dadha-oriya</key>
  <string>dadha-oriya.glif</string>
  <key>dadhava-oriya</key>
  <string>dadhava-oriya.glif</string>
  <key>daga-oriya</key>
  <string>daga-oriya.glif</string>
  <key>dagha-oriya</key>
  <string>dagha-oriya.glif</string>
  <key>danda</key>
  <string>danda.glif</string>
  <key>dara-oriya</key>
  <string>dara-oriya.glif</string>
  <key>darauMatra-oriya</key>
  <string>darauM_atra-oriya.glif</string>
  <key>dava-oriya</key>
  <string>dava-oriya.glif</string>
  <key>dbldanda</key>
  <string>dbldanda.glif</string>
  <key>dda-oriya</key>
  <string>dda-oriya.glif</string>
  <key>dda-oriya.base</key>
  <string>dda-oriya.base.glif</string>
  <key>dda-oriya.below</key>
  <string>dda-oriya.below.glif</string>
  <key>dda-oriya.single</key>
  <string>dda-oriya.single.glif</string>
  <key>ddadda-oriya</key>
  <string>ddadda-oriya.glif</string>
  <key>ddaga-oriya</key>
  <string>ddaga-oriya.glif</string>
  <key>ddara-oriya</key>
  <string>ddara-oriya.glif</string>
  <key>ddha-oriya</key>
  <string>ddha-oriya.glif</string>
  <key>ddha-oriya.base</key>
  <string>ddha-oriya.base.glif</string>
  <key>ddha-oriya.below</key>
  <string>ddha-oriya.below.glif</string>
  <key>ddha-oriya.single</key>
  <string>ddha-oriya.single.glif</string>
  <key>ddhara-oriya</key>
  <string>ddhara-oriya.glif</string>
  <key>dha-oriya</key>
  <string>dha-oriya.glif</string>
  <key>dha-oriya.base</key>
  <string>dha-oriya.base.glif</string>
  <key>dha-oriya.below</key>
  <string>dha-oriya.below.glif</string>
  <key>dha-oriya.single</key>
  <string>dha-oriya.single.glif</string>
  <key>dhara-oriya</key>
  <string>dhara-oriya.glif</string>
  <key>dhava-oriya</key>
  <string>dhava-oriya.glif</string>
  <key>dhaya-oriya</key>
  <string>dhaya-oriya.glif</string>
  <key>dhayya-oriya</key>
  <string>dhayya-oriya.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dottedCircle</key>
  <string>dottedC_ircle.glif</string>
  <key>e-oriya</key>
  <string>e-oriya.glif</string>
  <key>eMatra-oriya</key>
  <string>eM_atra-oriya.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight-oriya</key>
  <string>eight-oriya.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five-oriya</key>
  <string>five-oriya.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four-oriya</key>
  <string>four-oriya.glif</string>
  <key>ga-oriya</key>
  <string>ga-oriya.glif</string>
  <key>ga-oriya.base</key>
  <string>ga-oriya.base.glif</string>
  <key>ga-oriya.below</key>
  <string>ga-oriya.below.glif</string>
  <key>ga-oriya.single</key>
  <string>ga-oriya.single.glif</string>
  <key>gada-oriya</key>
  <string>gada-oriya.glif</string>
  <key>gadha-oriya</key>
  <string>gadha-oriya.glif</string>
  <key>galla-oriya</key>
  <string>galla-oriya.glif</string>
  <key>gana-oriya</key>
  <string>gana-oriya.glif</string>
  <key>gara-oriya</key>
  <string>gara-oriya.glif</string>
  <key>gha-oriya</key>
  <string>gha-oriya.glif</string>
  <key>gha-oriya.base</key>
  <string>gha-oriya.base.glif</string>
  <key>gha-oriya.below</key>
  <string>gha-oriya.below.glif</string>
  <key>gha-oriya.single</key>
  <string>gha-oriya.single.glif</string>
  <key>ghana-oriya</key>
  <string>ghana-oriya.glif</string>
  <key>ghara-oriya</key>
  <string>ghara-oriya.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>ha-oriya</key>
  <string>ha-oriya.glif</string>
  <key>ha-oriya.base</key>
  <string>ha-oriya.base.glif</string>
  <key>ha-oriya.below</key>
  <string>ha-oriya.below.glif</string>
  <key>ha-oriya.single</key>
  <string>ha-oriya.single.glif</string>
  <key>haja-oriya</key>
  <string>haja-oriya.glif</string>
  <key>haka-oriya</key>
  <string>haka-oriya.glif</string>
  <key>hala-oriya</key>
  <string>hala-oriya.glif</string>
  <key>halant-oriya</key>
  <string>halant-oriya.glif</string>
  <key>halla-oriya</key>
  <string>halla-oriya.glif</string>
  <key>hama-oriya</key>
  <string>hama-oriya.glif</string>
  <key>hana-oriya</key>
  <string>hana-oriya.glif</string>
  <key>harVocalic-oriya</key>
  <string>harV_ocalic-oriya.glif</string>
  <key>hara-oriya</key>
  <string>hara-oriya.glif</string>
  <key>hau-oriya</key>
  <string>hau-oriya.glif</string>
  <key>hauu-oriya</key>
  <string>hauu-oriya.glif</string>
  <key>hava-oriya</key>
  <string>hava-oriya.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i-oriya</key>
  <string>i-oriya.glif</string>
  <key>iMatra-oriya</key>
  <string>iM_atra-oriya.glif</string>
  <key>iMatra-oriya.below</key>
  <string>iM_atra-oriya.below.glif</string>
  <key>iMatra-oriya.wide</key>
  <string>iM_atra-oriya.wide.glif</string>
  <key>iMatracandraBindu-oriya</key>
  <string>iM_atracandraB_indu-oriya.glif</string>
  <key>iMatracandraBindu-oriya.wide</key>
  <string>iM_atracandraB_indu-oriya.wide.glif</string>
  <key>iMatrareph-oriya</key>
  <string>iM_atrareph-oriya.glif</string>
  <key>iMatrareph-oriya.wide</key>
  <string>iM_atrareph-oriya.wide.glif</string>
  <key>iMatrarephcandraBindu-oriya</key>
  <string>iM_atrarephcandraB_indu-oriya.glif</string>
  <key>iMatrarephcandraBindu-oriya.wide</key>
  <string>iM_atrarephcandraB_indu-oriya.wide.glif</string>
  <key>ii-oriya</key>
  <string>ii-oriya.glif</string>
  <key>iiMatra-oriya</key>
  <string>iiM_atra-oriya.glif</string>
  <key>isshar-oriya</key>
  <string>isshar-oriya.glif</string>
  <key>ja-oriya</key>
  <string>ja-oriya.glif</string>
  <key>ja-oriya.base</key>
  <string>ja-oriya.base.glif</string>
  <key>ja-oriya.below</key>
  <string>ja-oriya.below.glif</string>
  <key>ja-oriya.single</key>
  <string>ja-oriya.single.glif</string>
  <key>jaja-oriya</key>
  <string>jaja-oriya.glif</string>
  <key>jajava-oriya</key>
  <string>jajava-oriya.glif</string>
  <key>jajha-oriya</key>
  <string>jajha-oriya.glif</string>
  <key>janya-oriya</key>
  <string>janya-oriya.glif</string>
  <key>jara-oriya</key>
  <string>jara-oriya.glif</string>
  <key>java-oriya</key>
  <string>java-oriya.glif</string>
  <key>jha-oriya</key>
  <string>jha-oriya.glif</string>
  <key>jha-oriya.base</key>
  <string>jha-oriya.base.glif</string>
  <key>jha-oriya.below</key>
  <string>jha-oriya.below.glif</string>
  <key>jha-oriya.single</key>
  <string>jha-oriya.single.glif</string>
  <key>jhara-oriya</key>
  <string>jhara-oriya.glif</string>
  <key>ka-oriya</key>
  <string>ka-oriya.glif</string>
  <key>ka-oriya.base</key>
  <string>ka-oriya.base.glif</string>
  <key>ka-oriya.below</key>
  <string>ka-oriya.below.glif</string>
  <key>ka-oriya.single</key>
  <string>ka-oriya.single.glif</string>
  <key>kaca-oriya</key>
  <string>kaca-oriya.glif</string>
  <key>kaka-oriya</key>
  <string>kaka-oriya.glif</string>
  <key>kalla-oriya</key>
  <string>kalla-oriya.glif</string>
  <key>kara-oriya</key>
  <string>kara-oriya.glif</string>
  <key>kasa-oriya</key>
  <string>kasa-oriya.glif</string>
  <key>kassa-oriya</key>
  <string>kassa-oriya.glif</string>
  <key>kassa-oriya.base</key>
  <string>kassa-oriya.base.glif</string>
  <key>kassa-oriya.below</key>
  <string>kassa-oriya.below.glif</string>
  <key>kassama-oriya</key>
  <string>kassama-oriya.glif</string>
  <key>kassanna-oriya</key>
  <string>kassanna-oriya.glif</string>
  <key>kassara-oriya</key>
  <string>kassara-oriya.glif</string>
  <key>kata-oriya</key>
  <string>kata-oriya.glif</string>
  <key>katara-oriya</key>
  <string>katara-oriya.glif</string>
  <key>kataraalt-oriya</key>
  <string>kataraalt-oriya.glif</string>
  <key>katta-oriya</key>
  <string>katta-oriya.glif</string>
  <key>kava-oriya</key>
  <string>kava-oriya.glif</string>
  <key>kha-oriya</key>
  <string>kha-oriya.glif</string>
  <key>kha-oriya.base</key>
  <string>kha-oriya.base.glif</string>
  <key>kha-oriya.below</key>
  <string>kha-oriya.below.glif</string>
  <key>kha-oriya.single</key>
  <string>kha-oriya.single.glif</string>
  <key>khara-oriya</key>
  <string>khara-oriya.glif</string>
  <key>lVocalic-oriya</key>
  <string>lV_ocalic-oriya.glif</string>
  <key>lVocalicMatra-oriya</key>
  <string>lV_ocalicM_atra-oriya.glif</string>
  <key>la-oriya</key>
  <string>la-oriya.glif</string>
  <key>la-oriya.base</key>
  <string>la-oriya.base.glif</string>
  <key>la-oriya.below</key>
  <string>la-oriya.below.glif</string>
  <key>la-oriya.single</key>
  <string>la-oriya.single.glif</string>
  <key>laga-oriya</key>
  <string>laga-oriya.glif</string>
  <key>laka-oriya</key>
  <string>laka-oriya.glif</string>
  <key>lala-oriya</key>
  <string>lala-oriya.glif</string>
  <key>lalla-oriya</key>
  <string>lalla-oriya.glif</string>
  <key>lama-oriya</key>
  <string>lama-oriya.glif</string>
  <key>lapa-oriya</key>
  <string>lapa-oriya.glif</string>
  <key>lapha-oriya</key>
  <string>lapha-oriya.glif</string>
  <key>lara-oriya</key>
  <string>lara-oriya.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>llVocalic-oriya</key>
  <string>llV_ocalic-oriya.glif</string>
  <key>llVocalicMatra-oriya</key>
  <string>llV_ocalicM_atra-oriya.glif</string>
  <key>lla-oriya</key>
  <string>lla-oriya.glif</string>
  <key>lla-oriya.base</key>
  <string>lla-oriya.base.glif</string>
  <key>lla-oriya.below</key>
  <string>lla-oriya.below.glif</string>
  <key>lla-oriya.single</key>
  <string>lla-oriya.single.glif</string>
  <key>llaka-oriya</key>
  <string>llaka-oriya.glif</string>
  <key>llalla-oriya</key>
  <string>llalla-oriya.glif</string>
  <key>llapa-oriya</key>
  <string>llapa-oriya.glif</string>
  <key>llapha-oriya</key>
  <string>llapha-oriya.glif</string>
  <key>llara-oriya</key>
  <string>llara-oriya.glif</string>
  <key>ma-oriya</key>
  <string>ma-oriya.glif</string>
  <key>ma-oriya.base</key>
  <string>ma-oriya.base.glif</string>
  <key>ma-oriya.below</key>
  <string>ma-oriya.below.glif</string>
  <key>ma-oriya.single</key>
  <string>ma-oriya.single.glif</string>
  <key>maba-oriya</key>
  <string>maba-oriya.glif</string>
  <key>mabha-oriya</key>
  <string>mabha-oriya.glif</string>
  <key>mabhara-oriya</key>
  <string>mabhara-oriya.glif</string>
  <key>mama-oriya</key>
  <string>mama-oriya.glif</string>
  <key>mapa-oriya</key>
  <string>mapa-oriya.glif</string>
  <key>mapara-oriya</key>
  <string>mapara-oriya.glif</string>
  <key>mapha-oriya</key>
  <string>mapha-oriya.glif</string>
  <key>mara-oriya</key>
  <string>mara-oriya.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>na-oriya</key>
  <string>na-oriya.glif</string>
  <key>na-oriya.base</key>
  <string>na-oriya.base.glif</string>
  <key>na-oriya.below</key>
  <string>na-oriya.below.glif</string>
  <key>na-oriya.single</key>
  <string>na-oriya.single.glif</string>
  <key>nada-oriya</key>
  <string>nada-oriya.glif</string>
  <key>nadara-oriya</key>
  <string>nadara-oriya.glif</string>
  <key>nadava-oriya</key>
  <string>nadava-oriya.glif</string>
  <key>nadha-oriya</key>
  <string>nadha-oriya.glif</string>
  <key>nadhara-oriya</key>
  <string>nadhara-oriya.glif</string>
  <key>nadhava-oriya</key>
  <string>nadhava-oriya.glif</string>
  <key>nana-oriya</key>
  <string>nana-oriya.glif</string>
  <key>nara-oriya</key>
  <string>nara-oriya.glif</string>
  <key>nata-oriya</key>
  <string>nata-oriya.glif</string>
  <key>natara-oriya</key>
  <string>natara-oriya.glif</string>
  <key>natauMatra-oriya</key>
  <string>natauM_atra-oriya.glif</string>
  <key>natava-oriya</key>
  <string>natava-oriya.glif</string>
  <key>natha-oriya</key>
  <string>natha-oriya.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>nga-oriya</key>
  <string>nga-oriya.glif</string>
  <key>nga-oriya.base</key>
  <string>nga-oriya.base.glif</string>
  <key>nga-oriya.below</key>
  <string>nga-oriya.below.glif</string>
  <key>nga-oriya.single</key>
  <string>nga-oriya.single.glif</string>
  <key>ngaga-oriya</key>
  <string>ngaga-oriya.glif</string>
  <key>ngagha-oriya</key>
  <string>ngagha-oriya.glif</string>
  <key>ngaka-oriya</key>
  <string>ngaka-oriya.glif</string>
  <key>ngakassa-oriya</key>
  <string>ngakassa-oriya.glif</string>
  <key>ngakata-oriya</key>
  <string>ngakata-oriya.glif</string>
  <key>ngakha-oriya</key>
  <string>ngakha-oriya.glif</string>
  <key>ngara-oriya</key>
  <string>ngara-oriya.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine-oriya</key>
  <string>nine-oriya.glif</string>
  <key>nna-oriya</key>
  <string>nna-oriya.glif</string>
  <key>nna-oriya.base</key>
  <string>nna-oriya.base.glif</string>
  <key>nna-oriya.below</key>
  <string>nna-oriya.below.glif</string>
  <key>nna-oriya.single</key>
  <string>nna-oriya.single.glif</string>
  <key>nnadda-oriya</key>
  <string>nnadda-oriya.glif</string>
  <key>nnaddahalant-oriya</key>
  <string>nnaddahalant-oriya.glif</string>
  <key>nnaddara-oriya</key>
  <string>nnaddara-oriya.glif</string>
  <key>nnaddha-oriya</key>
  <string>nnaddha-oriya.glif</string>
  <key>nnanna-oriya</key>
  <string>nnanna-oriya.glif</string>
  <key>nnara-oriya</key>
  <string>nnara-oriya.glif</string>
  <key>nnatta-oriya</key>
  <string>nnatta-oriya.glif</string>
  <key>nnattahalant-oriya</key>
  <string>nnattahalant-oriya.glif</string>
  <key>nnattha-oriya</key>
  <string>nnattha-oriya.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>nukta-oriya</key>
  <string>nukta-oriya.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>nya-oriya</key>
  <string>nya-oriya.glif</string>
  <key>nya-oriya.base</key>
  <string>nya-oriya.base.glif</string>
  <key>nyaca-oriya</key>
  <string>nyaca-oriya.glif</string>
  <key>nyacha-oriya</key>
  <string>nyacha-oriya.glif</string>
  <key>nyaja-oriya</key>
  <string>nyaja-oriya.glif</string>
  <key>nyajha-oriya</key>
  <string>nyajha-oriya.glif</string>
  <key>nyara-oriya</key>
  <string>nyara-oriya.glif</string>
  <key>o-oriya</key>
  <string>o-oriya.glif</string>
  <key>oMatra-oriya</key>
  <string>oM_atra-oriya.glif</string>
  <key>om-oriya</key>
  <string>om-oriya.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one-oriya</key>
  <string>one-oriya.glif</string>
  <key>oneeighth-oriya</key>
  <string>oneeighth-oriya.glif</string>
  <key>onehalf-oriya</key>
  <string>onehalf-oriya.glif</string>
  <key>onequarter-oriya</key>
  <string>onequarter-oriya.glif</string>
  <key>onesixteenth-oriya</key>
  <string>onesixteenth-oriya.glif</string>
  <key>pa-oriya</key>
  <string>pa-oriya.glif</string>
  <key>pa-oriya.base</key>
  <string>pa-oriya.base.glif</string>
  <key>pa-oriya.below</key>
  <string>pa-oriya.below.glif</string>
  <key>pa-oriya.single</key>
  <string>pa-oriya.single.glif</string>
  <key>paka-oriya</key>
  <string>paka-oriya.glif</string>
  <key>palla-oriya</key>
  <string>palla-oriya.glif</string>
  <key>papa-oriya</key>
  <string>papa-oriya.glif</string>
  <key>para-oriya</key>
  <string>para-oriya.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partta-oriya.below</key>
  <string>partta-oriya.below.glif</string>
  <key>pasa-oriya</key>
  <string>pasa-oriya.glif</string>
  <key>pata-oriya</key>
  <string>pata-oriya.glif</string>
  <key>patta-oriya</key>
  <string>patta-oriya.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>pha-oriya</key>
  <string>pha-oriya.glif</string>
  <key>pha-oriya.base</key>
  <string>pha-oriya.base.glif</string>
  <key>pha-oriya.below</key>
  <string>pha-oriya.below.glif</string>
  <key>pha-oriya.single</key>
  <string>pha-oriya.single.glif</string>
  <key>phara-oriya</key>
  <string>phara-oriya.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>rVocalic-oriya</key>
  <string>rV_ocalic-oriya.glif</string>
  <key>rVocalicMatra-oriya</key>
  <string>rV_ocalicM_atra-oriya.glif</string>
  <key>ra-oriya</key>
  <string>ra-oriya.glif</string>
  <key>ra-oriya.base</key>
  <string>ra-oriya.base.glif</string>
  <key>ra-oriya.below</key>
  <string>ra-oriya.below.glif</string>
  <key>ra-oriya.single</key>
  <string>ra-oriya.single.glif</string>
  <key>rarVocalicMatra-oriya.below</key>
  <string>rarV_ocalicM_atra-oriya.below.glif</string>
  <key>rarrVocalicMatra-oriya.below</key>
  <string>rarrV_ocalicM_atra-oriya.below.glif</string>
  <key>rauMatra-oriya.below</key>
  <string>rauM_atra-oriya.below.glif</string>
  <key>rauuMatra-oriya.below</key>
  <string>rauuM_atra-oriya.below.glif</string>
  <key>reph-oriya</key>
  <string>reph-oriya.glif</string>
  <key>rephaiLength-oriya</key>
  <string>rephaiL_ength-oriya.glif</string>
  <key>rephaiLength-oriya.stem</key>
  <string>rephaiL_ength-oriya.stem.glif</string>
  <key>rephaiLength-oriya.umbrella</key>
  <string>rephaiL_ength-oriya.umbrella.glif</string>
  <key>rephaiLengthcandraBindu-oriya</key>
  <string>rephaiL_engthcandraB_indu-oriya.glif</string>
  <key>rephaiLengthcandraBindu-oriya.stem</key>
  <string>rephaiL_engthcandraB_indu-oriya.stem.glif</string>
  <key>rephaiLengthcandraBindu-oriya.umbrella</key>
  <string>rephaiL_engthcandraB_indu-oriya.umbrella.glif</string>
  <key>rephauLength-oriya</key>
  <string>rephauL_ength-oriya.glif</string>
  <key>rephauLengthcandraBindu-oriya</key>
  <string>rephauL_engthcandraB_indu-oriya.glif</string>
  <key>rephcandraBindu-oriya</key>
  <string>rephcandraB_indu-oriya.glif</string>
  <key>rha-oriya</key>
  <string>rha-oriya.glif</string>
  <key>rha-oriya.base</key>
  <string>rha-oriya.base.glif</string>
  <key>rhara-oriya</key>
  <string>rhara-oriya.glif</string>
  <key>rrVocalic-oriya</key>
  <string>rrV_ocalic-oriya.glif</string>
  <key>rrVocalicMatra-oriya</key>
  <string>rrV_ocalicM_atra-oriya.glif</string>
  <key>rra-oriya</key>
  <string>rra-oriya.glif</string>
  <key>rra-oriya.base</key>
  <string>rra-oriya.base.glif</string>
  <key>rrara-oriya</key>
  <string>rrara-oriya.glif</string>
  <key>rupeeIndian</key>
  <string>rupeeI_ndian.glif</string>
  <key>sa-oriya</key>
  <string>sa-oriya.glif</string>
  <key>sa-oriya.base</key>
  <string>sa-oriya.base.glif</string>
  <key>sa-oriya.below</key>
  <string>sa-oriya.below.glif</string>
  <key>sa-oriya.single</key>
  <string>sa-oriya.single.glif</string>
  <key>saka-oriya</key>
  <string>saka-oriya.glif</string>
  <key>sakha-oriya</key>
  <string>sakha-oriya.glif</string>
  <key>sama-oriya</key>
  <string>sama-oriya.glif</string>
  <key>sana-oriya</key>
  <string>sana-oriya.glif</string>
  <key>sapa-oriya</key>
  <string>sapa-oriya.glif</string>
  <key>saparVocalicMatra-oriya</key>
  <string>saparV_ocalicM_atra-oriya.glif</string>
  <key>sapha-oriya</key>
  <string>sapha-oriya.glif</string>
  <key>sara-oriya</key>
  <string>sara-oriya.glif</string>
  <key>sata-oriya</key>
  <string>sata-oriya.glif</string>
  <key>satara-oriya</key>
  <string>satara-oriya.glif</string>
  <key>satha-oriya</key>
  <string>satha-oriya.glif</string>
  <key>sava-oriya</key>
  <string>sava-oriya.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven-oriya</key>
  <string>seven-oriya.glif</string>
  <key>sha-oriya</key>
  <string>sha-oriya.glif</string>
  <key>sha-oriya.base</key>
  <string>sha-oriya.base.glif</string>
  <key>sha-oriya.below</key>
  <string>sha-oriya.below.glif</string>
  <key>sha-oriya.single</key>
  <string>sha-oriya.single.glif</string>
  <key>shaca-oriya</key>
  <string>shaca-oriya.glif</string>
  <key>shacha-oriya</key>
  <string>shacha-oriya.glif</string>
  <key>shalla-oriya</key>
  <string>shalla-oriya.glif</string>
  <key>shara-oriya</key>
  <string>shara-oriya.glif</string>
  <key>shava-oriya</key>
  <string>shava-oriya.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six-oriya</key>
  <string>six-oriya.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>ssa-oriya</key>
  <string>ssa-oriya.glif</string>
  <key>ssa-oriya.base</key>
  <string>ssa-oriya.base.glif</string>
  <key>ssa-oriya.below</key>
  <string>ssa-oriya.below.glif</string>
  <key>ssa-oriya.single</key>
  <string>ssa-oriya.single.glif</string>
  <key>ssaka-oriya</key>
  <string>ssaka-oriya.glif</string>
  <key>ssakara-oriya</key>
  <string>ssakara-oriya.glif</string>
  <key>ssanna-oriya</key>
  <string>ssanna-oriya.glif</string>
  <key>ssapa-oriya</key>
  <string>ssapa-oriya.glif</string>
  <key>ssapha-oriya</key>
  <string>ssapha-oriya.glif</string>
  <key>ssara-oriya</key>
  <string>ssara-oriya.glif</string>
  <key>ssatta-oriya</key>
  <string>ssatta-oriya.glif</string>
  <key>ssattahalant-oriya</key>
  <string>ssattahalant-oriya.glif</string>
  <key>ssattara-oriya</key>
  <string>ssattara-oriya.glif</string>
  <key>ssattha-oriya</key>
  <string>ssattha-oriya.glif</string>
  <key>ta-oriya</key>
  <string>ta-oriya.glif</string>
  <key>ta-oriya.base</key>
  <string>ta-oriya.base.glif</string>
  <key>ta-oriya.below</key>
  <string>ta-oriya.below.glif</string>
  <key>ta-oriya.single</key>
  <string>ta-oriya.single.glif</string>
  <key>taalt-oriya.below</key>
  <string>taalt-oriya.below.glif</string>
  <key>taka-oriya</key>
  <string>taka-oriya.glif</string>
  <key>takara-oriya</key>
  <string>takara-oriya.glif</string>
  <key>tama-oriya</key>
  <string>tama-oriya.glif</string>
  <key>tana-oriya</key>
  <string>tana-oriya.glif</string>
  <key>tapa-oriya</key>
  <string>tapa-oriya.glif</string>
  <key>tapara-oriya</key>
  <string>tapara-oriya.glif</string>
  <key>tara-oriya</key>
  <string>tara-oriya.glif</string>
  <key>tara-oriya.below</key>
  <string>tara-oriya.below.glif</string>
  <key>tarauMatra-oriya</key>
  <string>tarauM_atra-oriya.glif</string>
  <key>tasa-oriya</key>
  <string>tasa-oriya.glif</string>
  <key>tasana-oriya</key>
  <string>tasana-oriya.glif</string>
  <key>tata-oriya</key>
  <string>tata-oriya.glif</string>
  <key>tatara-oriya</key>
  <string>tatara-oriya.glif</string>
  <key>tatava-oriya</key>
  <string>tatava-oriya.glif</string>
  <key>tatha-oriya</key>
  <string>tatha-oriya.glif</string>
  <key>tava-oriya</key>
  <string>tava-oriya.glif</string>
  <key>tha-oriya</key>
  <string>tha-oriya.glif</string>
  <key>tha-oriya.base</key>
  <string>tha-oriya.base.glif</string>
  <key>tha-oriya.below</key>
  <string>tha-oriya.below.glif</string>
  <key>tha-oriya.single</key>
  <string>tha-oriya.single.glif</string>
  <key>thara-oriya</key>
  <string>thara-oriya.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three-oriya</key>
  <string>three-oriya.glif</string>
  <key>threequarters-oriya</key>
  <string>threequarters-oriya.glif</string>
  <key>threesixteenths-oriya</key>
  <string>threesixteenths-oriya.glif</string>
  <key>tta-oriya</key>
  <string>tta-oriya.glif</string>
  <key>tta-oriya.base</key>
  <string>tta-oriya.base.glif</string>
  <key>tta-oriya.below</key>
  <string>tta-oriya.below.glif</string>
  <key>tta-oriya.single</key>
  <string>tta-oriya.single.glif</string>
  <key>ttara-oriya</key>
  <string>ttara-oriya.glif</string>
  <key>ttatta-oriya</key>
  <string>ttatta-oriya.glif</string>
  <key>ttha-oriya</key>
  <string>ttha-oriya.glif</string>
  <key>ttha-oriya.base</key>
  <string>ttha-oriya.base.glif</string>
  <key>ttha-oriya.below</key>
  <string>ttha-oriya.below.glif</string>
  <key>ttha-oriya.single</key>
  <string>ttha-oriya.single.glif</string>
  <key>tthara-oriya</key>
  <string>tthara-oriya.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two-oriya</key>
  <string>two-oriya.glif</string>
  <key>u-oriya</key>
  <string>u-oriya.glif</string>
  <key>uMatra-oriya</key>
  <string>uM_atra-oriya.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uu-oriya</key>
  <string>uu-oriya.glif</string>
  <key>uuMatra-oriya</key>
  <string>uuM_atra-oriya.glif</string>
  <key>va-oriya</key>
  <string>va-oriya.glif</string>
  <key>va-oriya.base</key>
  <string>va-oriya.base.glif</string>
  <key>va-oriya.below</key>
  <string>va-oriya.below.glif</string>
  <key>va-oriya.single</key>
  <string>va-oriya.single.glif</string>
  <key>vara-oriya</key>
  <string>vara-oriya.glif</string>
  <key>visarga-oriya</key>
  <string>visarga-oriya.glif</string>
  <key>wa-oriya</key>
  <string>wa-oriya.glif</string>
  <key>wa-oriya.base</key>
  <string>wa-oriya.base.glif</string>
  <key>wara-oriya</key>
  <string>wara-oriya.glif</string>
  <key>ya-oriya</key>
  <string>ya-oriya.glif</string>
  <key>ya-oriya.base</key>
  <string>ya-oriya.base.glif</string>
  <key>ya-oriya.below</key>
  <string>ya-oriya.below.glif</string>
  <key>ya-oriya.single</key>
  <string>ya-oriya.single.glif</string>
  <key>yara-oriya</key>
  <string>yara-oriya.glif</string>
  <key>yya-oriya</key>
  <string>yya-oriya.glif</string>
  <key>yya-oriya.post</key>
  <string>yya-oriya.post.glif</string>
  <key>yyara-oriya</key>
  <string>yyara-oriya.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero-oriya</key>
  <string>zero-oriya.glif</string>
  <key>zerowidthjoiner</key>
  <string>zerowidthjoiner.glif</string>
  <key>zerowidthnonjoiner</key>
  <string>zerowidthnonjoiner.glif</string>
  <key>zerowidthspace</key>
  <string>zerowidthspace.glif</string>
</dict>
</plist>
