<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>bara-oriya</key>
  <string>bara-oriya.glif</string>
  <key>bhara-oriya</key>
  <string>bhara-oriya.glif</string>
  <key>cara-oriya</key>
  <string>cara-oriya.glif</string>
  <key>chara-oriya</key>
  <string>chara-oriya.glif</string>
  <key>dadhava-oriya</key>
  <string>dadhava-oriya.glif</string>
  <key>dara-oriya</key>
  <string>dara-oriya.glif</string>
  <key>dava-oriya</key>
  <string>dava-oriya.glif</string>
  <key>ddara-oriya</key>
  <string>ddara-oriya.glif</string>
  <key>dhara-oriya</key>
  <string>dhara-oriya.glif</string>
  <key>dhava-oriya</key>
  <string>dhava-oriya.glif</string>
  <key>gara-oriya</key>
  <string>gara-oriya.glif</string>
  <key>ghara-oriya</key>
  <string>ghara-oriya.glif</string>
  <key>hara-oriya</key>
  <string>hara-oriya.glif</string>
  <key>jara-oriya</key>
  <string>jara-oriya.glif</string>
  <key>java-oriya</key>
  <string>java-oriya.glif</string>
  <key>jhara-oriya</key>
  <string>jhara-oriya.glif</string>
  <key>kara-oriya</key>
  <string>kara-oriya.glif</string>
  <key>kassara-oriya</key>
  <string>kassara-oriya.glif</string>
  <key>kava-oriya</key>
  <string>kava-oriya.glif</string>
  <key>khara-oriya</key>
  <string>khara-oriya.glif</string>
  <key>lara-oriya</key>
  <string>lara-oriya.glif</string>
  <key>llara-oriya</key>
  <string>llara-oriya.glif</string>
  <key>maba-oriya</key>
  <string>maba-oriya.glif</string>
  <key>mapara-oriya</key>
  <string>mapara-oriya.glif</string>
  <key>mara-oriya</key>
  <string>mara-oriya.glif</string>
  <key>nadara-oriya</key>
  <string>nadara-oriya.glif</string>
  <key>nadava-oriya</key>
  <string>nadava-oriya.glif</string>
  <key>nadhara-oriya</key>
  <string>nadhara-oriya.glif</string>
  <key>nadhava-oriya</key>
  <string>nadhava-oriya.glif</string>
  <key>nara-oriya</key>
  <string>nara-oriya.glif</string>
  <key>ngara-oriya</key>
  <string>ngara-oriya.glif</string>
  <key>nnara-oriya</key>
  <string>nnara-oriya.glif</string>
  <key>nyara-oriya</key>
  <string>nyara-oriya.glif</string>
  <key>para-oriya</key>
  <string>para-oriya.glif</string>
  <key>phara-oriya</key>
  <string>phara-oriya.glif</string>
  <key>reph-oriya</key>
  <string>reph-oriya.glif</string>
  <key>rhara-oriya</key>
  <string>rhara-oriya.glif</string>
  <key>rrara-oriya</key>
  <string>rrara-oriya.glif</string>
  <key>sara-oriya</key>
  <string>sara-oriya.glif</string>
  <key>sava-oriya</key>
  <string>sava-oriya.glif</string>
  <key>shara-oriya</key>
  <string>shara-oriya.glif</string>
  <key>shava-oriya</key>
  <string>shava-oriya.glif</string>
  <key>ssara-oriya</key>
  <string>ssara-oriya.glif</string>
  <key>takara-oriya</key>
  <string>takara-oriya.glif</string>
  <key>tapara-oriya</key>
  <string>tapara-oriya.glif</string>
  <key>tara-oriya</key>
  <string>tara-oriya.glif</string>
  <key>tatara-oriya</key>
  <string>tatara-oriya.glif</string>
  <key>tatava-oriya</key>
  <string>tatava-oriya.glif</string>
  <key>tava-oriya</key>
  <string>tava-oriya.glif</string>
  <key>thara-oriya</key>
  <string>thara-oriya.glif</string>
  <key>ttara-oriya</key>
  <string>ttara-oriya.glif</string>
  <key>tthara-oriya</key>
  <string>tthara-oriya.glif</string>
  <key>vara-oriya</key>
  <string>vara-oriya.glif</string>
  <key>wara-oriya</key>
  <string>wara-oriya.glif</string>
  <key>yara-oriya</key>
  <string>yara-oriya.glif</string>
  <key>yyara-oriya</key>
  <string>yyara-oriya.glif</string>
</dict>
</plist>
